body, html{
	height: 100%;
}


.wrapper{
	min-height: 100%;
	overflow: hidden;
	min-width: 1100px;
}
.wrapper:after{
	content: "";
	display: block;
	height: 80px;
}
/* index */
.intro-bg{
	
	height: 100vh;
	background: url(../images/Background.png) no-repeat 50% 50%;
    background-size: cover;
}

.intro-logo{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -220px 0 0 -120px;
}
.intro-logo__pic{
	width: 235px;
	height: 290px;
}
.intro-button{
	width: 230px;
	height: 57px;
    position: absolute;
	top: 50%;
	left: 50%;
	margin: 115px 0 0 -115px;
	
}

.intro-button__link{
	width: 230px;
	height: 57px;
	display: block;
	text-decoration: none;
	font-family: "Open Sans Bold" , Arial, Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
	line-height: 3.4;
	background: #f89513;
	border-radius: 4px;
	text-align: center;
	transition: 1s;
}

.intro-button__link:hover{
	background: #131415;
	
}

/*about*/
.content{
	width: 880px;
	float: right;
	position: relative;
}

.content-image{
	width: 880px;
	height: 355px;
	background: url(../images/weightlifter.png) no-repeat;
}

.content-text{
	position: absolute;
	top: 160px;
	left: 68px;
	font-family: "Open Sans Bold";
	font-size: 49px;
	color: #fff;
	text-transform: uppercase;

}

.description-company{
	margin-top: 35px;
}

.description-company__text{
	width: 690px;
	font-family: "Open Sans Light";
	font-size: 18px;
	line-height: 30px;
}

.bold-text{
	font-family: "Open Sans Bold";
}

.description-company__text ul{
	list-style-type: disc;
	margin-left:  45px;
	margin-bottom: 30px;
}

.description-company__text_border{
	width: 700px;
	height: 144px;
	color: #fff;
	font-family: "Open Sans Light";
	font-size: 18px;
	background: #131415;
}

.border-text{
	padding: 13px 30px 20px 30px;
}

.title__partners{
	font-family: "Open Sans Bold";
	font-size: 49px;
	text-transform: uppercase;
	color: #221f1f;
	margin-top: 70px;
}



.partners__item{
	width: 150px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 60px;
	margin-right: 120px;
}

.partners__img{
	display: block;
    position: relative;
    overflow: hidden;
    width: 160px;
    height: 63px;
    transition: 1s;
}

.partners__img--flamingo{
	background: url(../images/flamingo.png) center center no-repeat;
}

.partners__img--malibu{
	background: url(../images/malibu.png) center center no-repeat;
}

.partners__img--lion{
	background: url(../images/lion.png) center center no-repeat;
}

.partners__img--arni{
	background: url(../images/arni.png) center center no-repeat;
}

.partners__img--grif{
	background: url(../images/grif.png) center center no-repeat;
}

.partners__img--atletica{
	background: url(../images/atletica.png) center center no-repeat;
}

.partners__img--flamingo:hover{
	background: url(../images/flamingo_color.png) center center no-repeat;
}

.partners__img--malibu:hover{
	background: url(../images/malibu_color.png) center center no-repeat;
}

.partners__img--lion:hover{
	background: url(../images/lion_color.png) center center no-repeat;
}

.partners__img--arni:hover{
	background: url(../images/arni_color.png) center center no-repeat;
}

.partners__img--grif:hover{
	background: url(../images/grif_color.png) center center no-repeat;
}

.partners__img--atletica:hover{
	background: url(../images/atletica_color.png) center center no-repeat;
}

.description-company__text p{
	margin-bottom: 20px;
}



/* services */
.header{
	width: 100%;
	height: 76px;
	background-color: #131415;
}

@font-face {
    font-family: 'Gora Free';
    src: url('../fonts/gora-free-webfont.woff2') format('woff2'),
         url('../fonts/gora-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light italic';
    src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.container{
	width: 1060px;
	margin: 0 auto;
}

.header{
	height: 76px;
	
}
.header__logo{
	float: left;
	padding-top:30px;
	padding-bottom:28px;
	padding-left: 19px;
}

.header__logo-text{
	width: 160px;
	height: 18px;
	font-family: "Gora Free", Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	color: #f89513;
	text-decoration: none;
}

.header__info{
	width: 181px;
    height: 75px;
    float: right;
    position: relative;
}

.header__phone{
	height: 18px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: 700;
	line-height: 54px;
	display: inline-block;
	
}

.header__phone-num{
	color: #ffffff;
	text-decoration: none;
}

.dropdown{
	position: relative;
}
.header__schedule{
	display: inline-block;
	cursor: pointer;
	position: relative;
	top: 4px;
	left: 50px;
	background-color: #131415;
	text-align: right;
	font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-decoration: underline;
	border: none;
	color: #ae6914;
	transition: .5s;
}

.schedule{
    color: #221f1f;
    position: absolute;
    font-size: 14px;
    left: -9999px;
    top: 27px;
    width: 126px;
    height: 46px;
    padding: 28px 22px 18px;
    z-index: 1;  
    background: url(../images/schedule.png) center center no-repeat;
}
.header__schedule:hover{
	color: #b9b9b9;
}
.dropdown:hover .schedule{
	display: block;
	left: 13px;
}

.schedule__time{
	font-family: "Open Sans Bold";
	color: #f89513;
    display: block;
    margin-bottom: 10px;
}



.breadcrumbs{
	margin-top: 48px;
	margin-bottom: 25px;
}

.breadcrumbs__item{
	display: inline-block;
}

.breadcrumbs__item:after{
	content: '/';
}

.breadcrumbs__item:last-child:after{
	display: none;
}

.breadcrumbs__link{
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	color: #f9960a;

}

.breadcrumbs__link_active{
	color: #000;
	text-decoration: none;
}

.main-section{
	width: 870px;
	float: right;
	margin-left: 75px;
}

.title{
	font-size: 49px;
	font-family: "Roboto";
	margin-bottom: 40px;
}



.breadcrumbs__item{
	height: 13px;
	opacity: 0.8;
	color: #221f1f;
	font-family: "Open Sans Light italic", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.services__item{
	width: 251px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 51px;
	margin-right: 35px;
	

}

.services__photo-png{
	width: 250px;
	height: 154px;
	border-radius: 4px;
	margin-bottom: 30px;
}

.services__name{
  font-size: 18px;
  font-family: "Open Sans Bold";
  margin-bottom: 16px;
 }

 .services__content{
 	font-size: 12px;
 	font-family: "Open Sans Light";
 	line-height: 18px;
 	
}

.sidebar__menu{
	width: 105px;
	float: left;
}
.sidebar__menu-list{
    margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 42px;
}
.sidebar__menu-text{
	margin-bottom:40px;
	font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 38px;
	letter-spacing: 2px;
    color: #f89513;
    text-transform: uppercase;
    margin-left: 8px;

}
.sidebar__menu-text_balck{
	color: #000;
}

.sidebar__menu-link{
	text-decoration: none;


}

.sidebar__menu-item{
	margin-bottom: 25px;

}

.sidebar__menu-item:hover .sidebar__menu-text{
	color: #131415;
	transition: 1s;
}

.sidebar__menu-item:hover .sidebar__icon_bolt{
	background-image: url(../images/icons/black_bolt.png);
	transition: 1s;
}
.sidebar__menu-item:hover .sidebar__icon_dumbbel_light{
	background-image: url(../images/icons/dumbbel.png);
	transition: 1s;
}

.sidebar__menu-item:hover .sidebar__icon_star{
	background-image: url(../images/icons/black_star.png);
	transition: 1s;
}

.sidebar__icon{
	width: 22px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;

}

.sidebar__icon_bolt{
	background: url(../images/icons/bolt.png) center center no-repeat;
}
.sidebar__icon_dumbbel{
	background: url(../images/icons/dumbbel.png) center center no-repeat;
}
.sidebar__icon_star{
	background: url(../images/icons/star.png) center center no-repeat;
}
.sidebar__icon_star-black{
	background: url(../images/icons/black_star.png) center center no-repeat;
}

.sidebar__icon-bolt_black{
	background: url(../images/icons/black_bolt.png) center center no-repeat;
}

.sidebar__icon_dumbbel_light{
	background: url(../images/icons/light_dumbbel.png) center center no-repeat;
}



.footer{
	height: 80px;
	background-color: #131415;
	color: #fff;
	margin-top: -80px;
	min-width: 1100px;
}

.footer__info{
	float: left;
	width: 33.3%;
	font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans Light";
   margin-top: 12px;
}

.footer__info-link{
	color: #fff;
	font-weight: bold;
}

.footer__logo{
	float: left;
	width: 33.3%;
	text-align: center;
	margin-top: 30px;
}


.footer__logo-text{
	width: 160px;
	height: 18px;
	font-family: "Gora Free", Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	color: #f89513;
	text-decoration: none;
}

.socials{
	float: right;
	width: 33.3%;
	margin-top: 20px;
	
}

.socials__title{
	margin-right: 20px;
	float: right;
	
}

.socials__title-text{
	font-size: 14px;  
	font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
}

.socials__icons{
	float: right;
	margin-right: 20px;
	height: 10px;
	margin-top: 5px;
}

.socials__list{
	height: 10px;
	margin-top: 5px;
	margin-right: 15px;
}

.socials__item{
	display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: #d0d0d0;
    border-radius: 50%;
    text-align: center;
    transition: 1s;
}
 
 .socials__item:hover{
 	background-color: #f89513;
 }

 /*comments*/

 .comments__avatar{
 	float: left;
    margin-right: 20px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #f5f5f6;
 }
 
 .comments__text{
 	font-family: "Open Sans Light";
 	font-size: 18px;
 	margin-bottom: 50px;
 	float: left;
 	width: 688px;
 }

 .comments__date{
 	font-size: 14px;
 	color: #979797;
 	margin-bottom: 6px;
 }

 .comments__name{
 	font-weight: bold;
 	margin-bottom: 15px;
 }

 .comments__desc{
 	line-height: 30px;
 }

 .pagination{
 	text-align: center;
 	margin: 10px 10px;
 }
 .pagination__title{
 	display: inline-block;
 	font-size: 14px;
 	font-family: "Open Sans Light";
}

.pagination__button{
	display: inline-block;
	vertical-align: middle;
	color: #221f1f;
	text-decoration: none;
}


.pagination__list {
  display: inline-block;
  vertical-align: middle;
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
}



.pagination__link{
	text-decoration: none;
	width: 25px;
	height: 25px;
	font-size: 14px;
	line-height: 25px;
	color: #221f1f;
	display: block;
	transition: .5s;
	font-family: "Open Sans Bold";
	text-align: center;
	transition: .5s;
}

.pagination__link:hover{
	color: #f89513;
	border-radius: 4px;
}
.pagination__item-active .pagination__link {
  color: #f89513;
  background-color: #131415;
  border-radius: 3px;
}

.form-section{
	width: 700px;
	background-color: #f5f5f5;
	border-radius: 3px;
	margin-bottom: 72px;
	

}
.title__form{
	padding-top: 40px;
	margin-bottom: 5px;
	
}
.form{
	padding-left: 40px;
}
.form__fields{
	font-family: "Open Sans Light";
	font-weight: 300;
}



.form__elem{
	display: inline-block;
	margin-top: 20px;
	margin-right: 24px;
}

.form__elem-title{
	display: inline-block;

}

.form__input{
	width: 270px;
	height: 44px;
	border: none;
	display: block;
	padding-left: 8px;
	font-size: 14px;
	margin-top: 10px;
}

.form__textarea{
	margin-top: 22px;
}

.form__textarea-text{
	display: block;
	width: 560px;
	height: 90px;
	border: 1px solid #f89513;
	border-radius: 3px;
	margin-top: 10px;
	padding: 10px 10px;
}

.form__buttons{
	margin-top: 20px;
	display: inline-block;
}

.form__radio{
	float: left;
	margin-top: 10px;
	margin-right: 20px;
}





.form__submit{
	float: right;
	margin-right: 80px;
	margin-top: 20px;
}

.form__button{
	width: 124px;
	height: 44px;
	background-color: #1c1f1d;
	border: 1px solid #1c1f1d;
	border-radius: 3px;
	transition: .5s;
}
.form__button-text{
	color: #dfdfdf;
	font-family: "Open"Sans;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.form__button:hover{
	background-color: #f89513;
	border: 1px solid #f89513;
	cursor: pointer;	
}
