html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* index */
.intro-bg{
	
	height: 100vh;
	background: url(../images/Background.png) no-repeat 50% 50%;
    background-size: cover;
}

.intro-logo{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -220px 0 0 -120px;
}
.intro-logo__pic{
	width: 235px;
	height: 290px;
}
.intro-button{
	width: 230px;
	height: 57px;
    position: absolute;
	top: 50%;
	left: 50%;
	margin: 115px 0 0 -115px;
	
}

.intro-button__link{
	width: 230px;
	height: 57px;
	display: block;
	text-decoration: none;
	font-family: "Open Sans Bold" , Arial, Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
	line-height: 3.4;
	background: #f89513;
	border-radius: 4px;
	text-align: center;
}

.intro-button__link:hover{
	background: #131415;
	
}


/* services */
.header{
	width: 100%;
	height: 76px;
	background-color: #131415
}

@font-face {
    font-family: 'Gora Free';
    src: url('../fonts/gora-free-webfont.woff2') format('woff2'),
         url('../fonts/gora-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light italic';
    src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header__logo{
	float: left;
	padding-top:30px;
	padding-bottom:28px;
	padding-left: 19px;
}

.header__logo-text{
	width: 160px;
	height: 18px;
	font-family: "Gora Free", Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	color: #f89513;
}

.header__info{
	float: right;
	padding-right: 22px
}

.header__phone{
	height: 18px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: 700;
	line-height: 54px;
	color: #ffffff;
}

.header__schedule{
	padding-top: 6px;
	text-align: right;
	font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 54px;
	text-decoration: underline;
	color: #ae6914;
}

.sidebar__menu-text{
	margin-bottom:40px;
	font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 38px;
    color: #f89513;
    text-transform: uppercase;
	
}

.sidebar__menu-link{
	text-decoration: none;
}

.breadcrumbs__item{
	height: 13px;
	opacity: 0.8;
	color: #221f1f;
	font-family: "Open Sans Light italic", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.services__photo-png{
	width: 254px;
	height: 154px;
}
.footer{
	height: 77px;
	background-color: #131415;
}

.footer__info{
	float: left;
	width: 257px;
}
.footer__info-text{
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
}

.footer__logo-text{
	width: 160px;
	height: 18px;
	font-family: "Gora Free", Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	color: #f89513;
}

.socials{
	float: right;
	width: 197px;
}

.socials__title{
	font-size: 14px;  
	font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
	color: #ffffff;
}

.socials__item{
	display: inline-block;
    width: 20px;
    height: 20px;
        margin-right: 8px;
}